<div>
  <h1>Khóa học của tôi : </h1>
  <a href="/me/trash/course" class="notification">
    <i class="fas fa-trash-alt"></i>
    <span class="badge">{{countDoc}}</span>
  </a>
</div>
<form action="/course/handle-checkbox-all" method="POST">
  <div class="mt-4 d-flex align-items-center justify-content-between">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="" id="check-all">
        Chọn tất cả
      </label>
    </div>
    <select class="form-control form-control-sm w-50" name="action" id="" required="required">
      <option value="">--Chọn--</option>
      <option value="delete">Xóa</option>
    </select>
    <button type="submit" class="btn btn-success" disabled="disabled" id="btn-apply">Áp dụng</button>
  </div>

  <table class="table mt-4 mb-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="3">Thời gian tạo</th>

      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input type="checkbox" class="form-check-input checkbox-items" name="courseIDs" value="{{this._id}}"/>
          </div>
        </td>
        <th scope="row">{{increase @index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td><a name="" id="" class="btn btn-warning" href="/course/{{this._id}}/edit" role="button">Sửa</a></td>
        <td><a name="" id="" class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteCourse"
            data-id="{{this._id}}">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="6" class="text-center">
          Bạn chưa đăng khóa học nào. <a href="/course/create">Đăng khóa học mới.</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
<!-- Modal -->
<div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <a class="btn btn-success" id="btn-delete-course">Xác nhận</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Form Hidden --}}
<form method="POST" id="delete-form"></form>

<script>

  window.onload = () => {

    var idCourse;

    $('#deleteCourse').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      idCourse = button.data('id');
    });

    $("#btn-delete-course").click(() => {
      $('#delete-form').attr('action', `/course/${idCourse}/delete?_method=DELETE`);
      $('#delete-form').submit();
    });

    //checkbox
    $('#check-all').change(function () {
      var isCheckAll = $(this).prop('checked');
      if (isCheckAll) {
        $('.checkbox-items').prop('checked', isCheckAll);
        $('#btn-apply').removeAttr('disabled');
      } else {
        $('.checkbox-items').prop('checked', isCheckAll);
        $('#btn-apply').attr('disabled', 'disabled');
      }
    });

    //when check items
    $('.checkbox-items').change(function () {
      let isCheckAll = $('.checkbox-items').length === $('.checkbox-items:checked').length;
      $('#check-all').prop('checked', isCheckAll);
      if ($('.checkbox-items:checked').length > 0) {
        $('#btn-apply').removeAttr('disabled');
      } else {
        $('#btn-apply').attr('disabled', 'disabled');
      }
    });

  }
</script>